<!DOCTYPE html>
<% if (getLocale()=="fr" ) { %>
    <html lang="fr">
<% } else { %>
    <html lang="en">
<% } %>
	<head>
		<%- include('../../partial/head') %>

		<style>
			.bgm-t-3-2 { font-size: 76px; }
			@media all and (max-width: 1138px) { .bgm-t-3 { margin-left: -100px !important; } }
			@media all and (max-width: 890px) { .b-g-main-text { margin: 18px 0 0 248px; } }
			@media all and (max-width: 650px) { .b-g-main-text { margin: 18px 0 0 154px; } }
			@media all and (max-width: 530px) {
				.bgm-t-3-2 { font-size: 51px; }
				.bgm-t-3-2 { margin: -30px 0 0 26px; }
			}
			@media all and (max-width: 356px) {
				.b-g-main-text { margin: 18px 0 0 117px; }
				.bgm-t-1       { margin-left: -62px; }
				.bgm-t-3-2 {
					margin: -17px 0 0 26px;
					font-size: 43px;
				}
			}
		</style>
	</head>

	<body>
		<navbar>
			<%- include('../../partial/header') %>
		</navbar>

		<header id="header">
            <div class="big-header">
                <div class="trangles-left">
                    <div class="triangle1 triangle"><div></div></div>
                    <div class="triangle2 triangle"><div></div></div>
                    <div class="triangle3 triangle"><div></div></div>
                    <div class="triangle4 triangle"><div></div></div>
                </div>

                <div class="triangles-right">
                    <div class="triangle5 triangle"><div></div></div>
                    <div class="triangle6 triangle"><div></div></div>
                    <div class="triangle7 triangle"><div></div></div>
                    <div class="triangle8 triangle"><div></div></div>
                </div>

                <div class="b-g-main-logo" onclick="document.location.href='/'">
                    <img src="/imgs/main_logo.png" />
                </div>

                <div class="b-g-main-text">
                    <div class="bgm-t-1" style="text-transform: uppercase;">Mecanica Science</div>
                    <div class="bgm-t-2"></div>
                    <div class="bgm-t-3">
                        <div class="bgm-t-3-1">
                            <%= __('_sim1') %>
                        </div>
                        <div class="bgm-t-3-2">
                            <%= __('_sim2') %>
                        </div>
                        <div class="bgm-t-3-2">
                            <button type="button" class="btn btn-outline-light" href="/" onclick="document.location.href='/'">
								<%= __('Back to home') %>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

		<article style="background: linear-gradient(97deg, #03040F, #1B1F4A 67%, #141A51, #0B0F31);">
			<div style="padding-top: 60px; padding-bottom: 60px;">
				<div class="container">
					<% for (let i = 0; i < simulations.length; i++) { %>
						<% if (i % 2 == 0) { %>
							<% if (i == 0) { %>
								<div class="simulation sim-left" style="margin-top: -138px;">
							<% } else { %>
								<div class="simulation sim-left">
							<% } %>
								<div class="sim-text sim-t-left">
									<div class="sim-t-label"><%= simulations[i].dateYear %> • <% if (getLocale()=="fr" ) { %><%= simulations[i].label %><% } else { %><%= simulations[i].label_en %><% } %>
									</div>
									<div class="sim-t-title"><a href="/simulationview/<%= simulations[i].uuid %>&<%= simulations[i].short_title %>"><% if (getLocale()=="fr" ) { %><%= simulations[i].title %><% } else { %><%= simulations[i].title_en %><% } %></a></div>
									<div class="sim-t-text"><% if (getLocale()=="fr" ) { %><%= simulations[i].description %><% } else { %><%= simulations[i].description_en %><% } %></div>
									<div class="sim-t-link">
										<span><i class="fa fa-play"></i>
											<a href="/simulationview/<%= simulations[i].uuid %>&<%= simulations[i].short_title %>"> Simulation</a>
										</span>
										<span style="padding-right:10px;"></span><span class="sim-t-dot">•</span><span style="padding-right:10px;"></span>
										<span><i class="fa fa-github"></i>
											<a href="<%= simulations[i].source %>"> Source</a>
										</span>
									</div>
								</div>

								<div class="sim-content sim-c-left">
									<img src="https://firebasestorage.googleapis.com/v0/b/mecanicascience.appspot.com/o/simulations%2F<%= simulations[i].uuid %>_<%= simulations[i].short_title %>.png?alt=media" />
								</div>
							</div>
						<% } else { %>
							<div class="simulation sim-right">
								<div class="sim-content sim-c-right">
									<img
										src="https://firebasestorage.googleapis.com/v0/b/mecanicascience.appspot.com/o/simulations%2F<%= simulations[i].uuid %>_<%= simulations[i].short_title %>.png?alt=media" />
								</div>

								<div class="sim-text sim-t-right" style="margin-left: -20px; margin-right: 0px;">
									<div class="sim-t-label">
										<%= simulations[i].dateYear %> • <% if (getLocale()=="fr" ) { %><%= simulations[i].label %><% } else { %><%= simulations[i].label_en %><% } %>
									</div>
									<div class="sim-t-title">
										<a href="/simulationview/<%= simulations[i].uuid %>&<%= simulations[i].short_title %>">
											<% if (getLocale()=="fr" ) { %><%= simulations[i].title %><% } else { %><%= simulations[i].title_en %><% } %>
										</a>
									</div>
									<div class="sim-t-text">
										<% if (getLocale()=="fr" ) { %><%= simulations[i].description %><% } else { %><%= simulations[i].description_en %><% } %>
									</div>
									<div class="sim-t-link">
										<span><i class="fa fa-play"></i>
											<a href="/simulationview/<%= simulations[i].uuid %>&<%= simulations[i].short_title %>">Simulation</a>
										</span>
										<span style="padding-right:10px;"></span><span class="sim-t-dot">•</span><span style="padding-right:10px;"></span>
										<span><i class="fa fa-github"></i>
											<a href="<%= simulations[i].source %>"> Source</a>
										</span>
									</div>
								</div>
							</div>
						<% } %>
					<% } %>
				</div>
			</div>
		</article>

		<style>
			footer > div {
				margin-top: 0px !important;
			}
		</style>

		<%- include('../../partial/footer') %>
	</body>
</html>
