<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../../partial/head') %>

        <script type="text/javascript">
            window.onload = function() {
                document.getElementById('gn-menu').onclick = () => window.location.href = '/';
            }
        </script>
    </head>

    <body style="background-color: black;">
        <navbar>
            <%- include('../../partial/header') %>
        </navbar>

        <section class="image_main" id="main" style="text-align: center;">
            <div class="s-sim-text">
                <p class="s-si-title">
                    <%= datas.title %>
                    <% if(!datas.visible) { %>
                        <label class="s-si-title-label">Simulation non-publiée</label>
                    <% } %>
                </p>
                <p class="s-si-date"><i>(Le <%= datas.formatted_date %>)</i></p>
                <p class="s-si-category">Catégorie <%= datas.label %></p>
            </div>


            <hr style="margin: 27px 0 0px 0 !important;" />
            <div class="im-simulation">
                <iframe id="simIframe" scrolling="no"></iframe>
            </div>
            <hr style="margin: -14px 0 27px 0 !important;" />


            <script type="application/javascript">
                function updateIframeThenLoad() {
                    updateIframe();

                    let iFrame = parent.document.getElementById('simIframe');
                    iFrame.src = "<%= datas.links.simulation %>";
                }

                function updateIframe() {
                    let iFrame = parent.document.getElementById('simIframe');

                    // Reset iframe
                    iFrame.style.height = 0;
                    iFrame.style.width = 0;

                    // Resize
                    iFrame.style.height = document.body.clientHeight * 0.95 + 'px';
                    iFrame.style.width = document.body.clientWidth * 0.95 + 'px';

                    //iFrame.contentWindow.location.reload(true);
                }
                
                window.onload = updateIframeThenLoad;
                window.onresize = updateIframe;
            </script>
        </section>

        <%- include('../../partial/footer') %>
    </body>
</html>
