<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('../../partial/head') %>

		<style>
			.bgm-t-3-2 { font-size: 76px; }
			@media all and (max-width: 1138px) { .bgm-t-3 { margin-left: -100px !important; } }
			@media all and (max-width: 890px) { .b-g-main-text { margin: 18px 0 0 248px; } }
			@media all and (max-width: 650px) { .b-g-main-text { margin: 18px 0 0 154px; } }
			@media all and (max-width: 530px) {
				.bgm-t-3-2 { font-size: 51px; }
				.bgm-t-3-2 { margin: -30px 0 0 26px; }
			}
			@media all and (max-width: 356px) {
				.b-g-main-text { margin: 18px 0 0 117px; }
				.bgm-t-1       { margin-left: -62px; }
				.bgm-t-3-2 {
					margin: -17px 0 0 26px;
					font-size: 43px;
				}
			}
		</style>
	</head>

	<body>
		<navbar>
			<%- include('../../partial/header') %>
		</navbar>

		<header id="header">
            <div class="big-header">
                <div class="trangles-left">
                    <div class="triangle1 triangle"><div></div></div>
                    <div class="triangle2 triangle"><div></div></div>
                    <div class="triangle3 triangle"><div></div></div>
                    <div class="triangle4 triangle"><div></div></div>
                </div>

                <div class="triangles-right">
                    <div class="triangle5 triangle"><div></div></div>
                    <div class="triangle6 triangle"><div></div></div>
                    <div class="triangle7 triangle"><div></div></div>
                    <div class="triangle8 triangle"><div></div></div>
                </div>

                <div class="b-g-main-logo" onclick="document.location.href='/'">
                    <img src="/imgs/main_logo.png" />
                </div>

                <div class="b-g-main-text">
                    <div class="bgm-t-1" style="text-transform: uppercase;">Mecanica Science</div>
                    <div class="bgm-t-2"></div>
                    <div class="bgm-t-3">
                        <div class="bgm-t-3-1">
                            Liste des
                        </div>
                        <div class="bgm-t-3-2">
                            simulations
                        </div>
                        <div class="bgm-t-3-2">
                            <button type="button" class="btn btn-outline-light" href="/" onclick="document.location.href='/'">
                                Retourner à l'accueil
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

		<article style="background-color: rgb(41, 41, 85)">
			<div style="padding-top: 60px; padding-bottom: 60px;">
				<div class="container">
					<% for (let i = 0; i < simulations.length; i++) { %>
						<% if (i % 2 == 0) { %>
							<div class="simulation">
								<div class="sim-text sim-t-left">
									<div class="sim-t-label"><%= simulations[i].dateYear %> • <%= simulations[i].label %></div>
									<div class="sim-t-title"><%= simulations[i].title %></div>
									<div class="sim-t-text"><%= simulations[i].short_description %></div>
									<div class="sim-t-link">
										<a href="/simulationview/<%= simulations[i].uuid %>&<%= simulations[i].short_title %>"><i class="fa fa-play"></i> Simulation</a>
										<span style="padding-right:10px;"></span><span style="font-size: 20px;">•</span><span style="padding-right:10px;"></span>
										<a href="<%= simulations[i].links.source %>"><i class="fa fa-github"></i> Source</a>
									</div>
								</div>

								<div class="sim-content">
									<img src="https://firebasestorage.googleapis.com/v0/b/mecanicascience.appspot.com/o/simulations%2F<%= simulations[i].uuid %>_<%= simulations[i].short_title %>.png?alt=media" />
								</div>
							</div>
						<% } else { %>
							<div class="simulation">
								<div class="sim-content">
									<img
										src="https://firebasestorage.googleapis.com/v0/b/mecanicascience.appspot.com/o/simulations%2F<%= simulations[i].uuid %>_<%= simulations[i].short_title %>.png?alt=media" />
								</div>

								<div class="sim-text sim-t-right" style="margin-left: -20px; margin-right: 0px;">
									<div class="sim-t-label">
										<%= simulations[i].dateYear %> • <%= simulations[i].label %>
									</div>
									<div class="sim-t-title">
										<%= simulations[i].title %>
									</div>
									<div class="sim-t-text">
										<%= simulations[i].short_description %>
									</div>
									<div class="sim-t-link">
										<a href="/simulationview/<%= simulations[i].short_title %>&simulationview&<%= simulations[i].uuid %>"><i
												class="fa fa-play"></i> Simulation</a>
										<span style="padding-right:10px;"></span><span style="font-size: 20px;">•</span><span
											style="padding-right:10px;"></span>
										<a href="<%= simulations[i].links.source %>"><i class="fa fa-github"></i> Source</a>
									</div>
								</div>
							</div>
						<% } %>
					<% } %>
				</div>
			</div>
		</article>

		<style>
			footer > div {
				margin-top: 0px !important;
			}
		</style>

		<%- include('../../partial/footer') %>
	</body>
</html>
