<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../../partial/head') %>

        <script type="text/javascript">
            window.onload = function() {
                document.getElementById('gn-menu').onclick = () => window.location.href = '/';
            }
        </script>
    </head>

    <body style="background-color: black;">
        <navbar>
            <%- include('../../partial/header') %>
        </navbar>

        <section class="image_main" id="main" style="text-align: center;">
            <div class="s-sim-text">
                <p class="s-si-title">
                    <%= datas.title %>
                    <% if(!datas.visible) { %>
                        <label class="s-si-title-label">Simulation non-publiée</label>
                    <% } %>
                </p>
                <p class="s-si-date"><i>(Le <%= datas.formatted_date %>)</i></p>
                <p class="s-si-category">Catégorie <%= datas.label %></p>
            </div>


            <div class="im-simulation">
                <iframe id="simIframe" scrolling="no"></iframe>
            </div>

            <div class="s-si-links" style="margin-top: 20px;">
                <div class="s-si-links-1">
                    <div class="s-si-links-1-el s-si-links-1-el-1">
                        <button type="button" class="btn btn-light" href="<%= datas.simulation %>" onclick="document.location.href='<%= datas.simulation %>'">
                            Plein écran
                        </button>
                    </div>

                    <% if(datas.source != "null" && datas.source != "" && datas.source != undefined) { %>
                    <div class="s-si-links-1-el">
                        <button type="button" class="btn btn-light" href="<%= datas.source %>" onclick="document.location.href='<%= datas.source %>'">
                            Code source
                        </button>
                    </div>
                    <% } %>
                </div>
            </div>


            <script type="application/javascript">
                function updateIframeThenLoad() {
                    updateIframe();

                    let iFrame = parent.document.getElementById('simIframe');
                    iFrame.src = "<%= datas.simulation %>";
                }

                function updateIframe() {
                    let iFrame = parent.document.getElementById('simIframe');

                    // Reset iframe
                    iFrame.style.height = 0;
                    iFrame.style.width = 0;

                    // Resize
                    iFrame.style.height = document.body.clientHeight * 0.95 + 'px';
                    iFrame.style.width = document.body.clientWidth * 0.95 + 'px';

                    //iFrame.contentWindow.location.reload(true);
                }
                
                window.onload = updateIframeThenLoad;
                window.onresize = updateIframe;
            </script>
        </section>

        <%- include('../../partial/footer') %>
    </body>
</html>
