<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('../../partial/head') %>
	</head>

	<body>
		<header>
			<%- include('../../partial/header') %>

			<script type="text/javascript">
				window.onload = function() {
					document.getElementById('gn-menu').onclick = () => window.location.href = '/';

					document.getElementById('container-text').innerHTML = computeText(convertFromCodeToHtml(<%- '"' + datas.content + '"' %>));

					// MathJax
					try {
						initMathJax();
					} catch(e) { window.setTimeout(initMathJax, 1000); };

					// highlightJs
			        hljs.initHighlighting.called = false;
			        hljs.initHighlighting();


					let code = <%- code %>;

					if(code == '0' || code == '1' || code == '2' || code == '3' || code == '4') {
						setTimeout(function() {
							document.getElementById('info-toast').style.opacity = 0;
							document.getElementById('post-comment').className = "btn btn-outline-secondary";
						}, 4000);

						document.getElementById('info-toast').style = 'height: 92.5px; width: 310px;';

						     if(code == '0')  document.getElementById('toast-text').innerHTML = 'Le commentaire a bien été ajouté.';
						else if(code == '1')  document.getElementById('toast-text').innerHTML = 'Les champs sont incomplets.';
						else if(code == '2')  document.getElementById('toast-text').innerHTML = 'L\'email n\'est pas valide.';
						else if(code == '3')  document.getElementById('toast-text').innerHTML = 'Le commentaire est trop grand.';

						document.getElementById('info-toast').style.opacity = 1;

						if(code == '0')
							document.getElementById('post-comment').className = "btn btn-outline-success";
						else if(code == '1' || code == '2' || code == '3')
							document.getElementById('post-comment').className = "btn btn-outline-danger";
					}
				};

				function initMathJax() {
					MathJax.Hub.Queue(["Typeset", MathJax.Hub], reloadAllVisualisations);
				}

				function reloadAllVisualisations() {
					let el = document.getElementsByTagName('iframe');
					for (let i = 0; i < el.length; i++)
						el[i].src=el[i].src;
				}

				function commentFadeIn() {
					document.getElementById('add-c-one').style = 'opacity: 0; height: 0; display: block;';

					setTimeout(function() {
						document.getElementById('add-c-one').style.height = '100px';
					}, 100);

					setTimeout(function() {
						document.getElementById('add-c-one').style.opacity = '1';
					}, 500);

					document.getElementById('c-commentary').onclick = function() {};
				}
			</script>
		</header>

		<article>
			<div class="section section-2" style="margin-top: -5px;">
				<div class="toaster">
    				<div id="info-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    					<div class="toast-header">
    						<svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
    							<rect width="100%" height="100%" fill="#007aff"></rect>
    						</svg>
    						<strong class="mr-auto">Information</strong>
    						<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" onclick="document.getElementById('info-toast').style.opacity = 0">
    							<span aria-hidden="true">&times;</span>
    						</button>
    					</div>
    					<div class="toast-body" id="toast-text">
    						Chargement...
    					</div>
    				</div>
    			</div>


				<div class="m-title">
					<p class="m-t-title"><%= datas.title %></p>
					<hr class="m-t-hr" />
					<p class="m-t-subtitle"><%= datas.description %></p>
				</div>

				<div class="m-content">
					<div class="container m-c-header">
						<div class="m-c-row">
						</div>

						<div class="m-c-row">
							<div class="m-c-col">
								<% if(datas.image_exists) { %>
									<% if(datas.image_credits != 'null') { %>
										<figure class="figure">
									<% } %>
											<a><img class="m-b-image m-c-logo" src=<%= fb_image_link + datas.uuid + '_' + datas.image_name + '?alt=media' %>  /></a>
									<% if(datas.image_credits != 'null') { %>
											<figcaption class="figure-caption text-right" id="figcaption"></figcaption>
										</figure>

										<script>
											document.getElementById('figcaption').innerHTML = computeText('Image &copy;<%= datas.image_credits %>');
										</script>
									<% } %>
								<% } %>
							</div>

                            <div class="m-c-col">
								<p class="m-b-desc">Publié le <%= datas.formatted_date %></p>
                                <p class="m-b-cat" style="flex-direction: column;">- Catégorie <%= datas.formatted_category %> -</p>
								<p class="m-b-author" style="flex-direction: column;">Ecrit par <b><%= datas.author %></b>.</p>
							</div>
						</div>

						<div class="m-c-row">
						</div>
					</div>

				</div>
			</div>

			<div style="margin-top: 60px">
				<div class="container" style="text-align: justify;">
					<div id="container-text">
                    	Chargement en cours...
					</div>

					<div class="credits-d">
						<hr />
						<p class="credits-p">&copy;<%= new Date().getFullYear(); %> MecanicaScience - Ecrit par <b><%= datas.author %></b>.</p>
						<p class="credits-p" style="margin: 3px 8px 0 0; font-size: 13px;"><i>Article consulté <%= datas.view_count %> fois.</i></p>
					</div>


                    <p style="margin-bottom: 70px;"></p>
				</div>
			</div>


            <div class="section section-2">
                <p class="s-c-title">Sur le même thème</p>

                <hr />

				<div class="container category">
					<% if(articles.length == 0) { %>
						<p style="text-align: center; flex-grow: 1;">Pas d'article correspondant à la catégorie <b><%= datas.formatted_category %></b>.</p>
					<% } %>

					<%- articles.length > 0 ? articles.shift() : '' %>
					<%- articles.length > 0 ? articles.shift() : '' %>
					<%- articles.length > 0 ? articles.shift() : '' %>
				</div>
            </div>

			<div class="section section-comments">
				<p class="s-c-title">Partie commentaires</p>

                <hr />

				<div id="comments" class="container category cat-comments">
					<% if(comments.length == 0) { %>
						<div class="c-comment">
							<div class="cat-title">Pas de commentaires.</div>
						</div>
					<% } %>

					<% for(let i = 0; i < comments.length; i++) { %>
						<div class="c-comment">
							<div class="c-c-name">
								<p><%= comments[i].name %></p>
								<div class="c-c-date">(<%= comments[i].date %>)</div>
							</div>
							<div class="c-c-comment"><%= comments[i].comment %></div><br />
						</div>
					<% } %>
				</div>

				<hr />

				<div id="add-comment" class="container category" style="flex-direction: column;" id="comments">
					<div class="add-c-title">
						<p class="add-c-t-t">Ajouter un commentaire</p>
					</div>

					<div class="add-c-content">
						<form action="/articleview/add_comment" method="post">
							<div class="add-c-one" id="add-c-one" style="height: 0px; opacity: 0; display: none;">
								<input name="c-a-id"    style="display: none;" type="text" value="<%= datas.uuid %>">
								<input name="c-a-title" style="display: none;" type="text" value="<%= datas.short_title %>">


								<div class="add-c-1">
									<label class="cat-title">E-Mail :</label>
									<input id="c-email" name="c-email" type="email" class="form-control" placeholder="(obligatoire) - Adresse strictement confidentielle" required>
								</div>

								<div class="add-c-2">
									<label class="cat-title">Nom :</label>
									<input id="c-name" name="c-name" type="text" class="form-control" placeholder="(obligatoire)" required>
								</div>
							</div>

							<label class="cat-title">Commentaire (<i>max. 4000 charactères</i>) :</label>
							<textarea id="c-commentary" onclick="commentFadeIn();" class="form-control" aria-label="commentary-area" name="c-commentary" placeholder="Entrez votre commentaire ici..." required></textarea>

							<div class="c-add-comment">
								<button type="submit" id="post-comment" class="btn btn-outline-secondary">Ajouter le commentaire</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</article>


		<%- include('../../partial/footer') %>
	</body>
</html>
