<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('../../partial/head') %>
	</head>

	<body>
		<header>
			<%- include('../../partial/header') %>

			<script type="text/javascript">
				window.onload = function() {
					document.getElementById('gn-menu').onclick = () => window.location.href = '/';

					document.getElementById('container-text').innerHTML = computeText(convertFromCodeToHtml(<%- '"' + datas.content + '"' %>));

					// MathJax
					try {
						initMathJax();
					} catch(e) { window.setTimeout(initMathJax, 1000); };

					// highlightJs
			        hljs.initHighlighting.called = false;
			        hljs.initHighlighting();
				};

				function initMathJax() {
					MathJax.Hub.Queue(["Typeset", MathJax.Hub], reloadAllVisualisations);
				}

				function reloadAllVisualisations() {
					let el = document.getElementsByTagName('iframe');
					for (let i = 0; i < el.length; i++)
						el[i].src=el[i].src;
				}
			</script>
		</header>

		<main>
			<div class="section section-2" style="margin-top: -5px;">
				<div class="m-title">
					<p class="m-t-title"><%= datas.title %></p>
					<hr class="m-t-hr" />
					<p class="m-t-subtitle"><%= datas.description %></p>
				</div>

				<div class="m-content">
					<div class="container m-c-header">
						<div class="m-c-row">
						</div>

						<div class="m-c-row">
							<div class="m-c-col">
								<% if(datas.image_exists) { %>
									<% if(datas.image_credits != 'null') { %>
										<figure class="figure">
									<% } %>
											<a><img class="m-b-image m-c-logo" src=<%= fb_image_link + datas.uuid + '_' + datas.image_name + '?alt=media' %>  /></a>
									<% if(datas.image_credits != 'null') { %>
											<figcaption class="figure-caption text-right" id="figcaption"></figcaption>
										</figure>

										<script>
											document.getElementById('figcaption').innerHTML = computeText('Image &copy;<%= datas.image_credits %>');
										</script>
									<% } %>
								<% } %>
							</div>

                            <div class="m-c-col">
								<p class="m-b-desc">Publié le <%= datas.formatted_date %></p>
                                <p class="m-b-cat" style="flex-direction: column;">- Catégorie <%= datas.formatted_category %> -</p>
								<p class="m-b-author" style="flex-direction: column;">Ecrit par <b><%= datas.author %></b>.</p>
							</div>
						</div>

						<div class="m-c-row">
						</div>
					</div>

				</div>
			</div>

			<div style="margin-top: 60px">
				<div class="container" style="text-align: justify;">
					<div id="container-text">
                    	Chargement en cours...
					</div>

					<div class="credits-d">
						<hr />
						<p class="credits-p">&copy;<%= new Date().getFullYear(); %> MecanicaScience - Ecrit par <b><%= datas.author %></b>.</p>
						<p class="credits-p" style="margin: 3px 8px 0 0; font-size: 13px;"><i>Article consulté <%= datas.view_count %> fois.</i></p>
					</div>


                    <p style="margin-bottom: 70px;"></p>
				</div>
			</div>


            <div class="section section-2">
                <p class="s-c-title">Sur le même thème</p>

                <hr />

				<div class="container category">
					<% if(articles.length == 0) { %>
						<p style="text-align: center; flex-grow: 1;">Pas d'article correspondant à la catégorie <b><%= datas.formatted_category %></b>.</p>
					<% } %>

					<%- articles.length > 0 ? articles.shift() : '' %>
					<%- articles.length > 0 ? articles.shift() : '' %>
					<%- articles.length > 0 ? articles.shift() : '' %>
				</div>
            </div>


		<%- include('../../partial/footer') %>
	</body>
</html>
