<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('../../partial/head') %>
	</head>

	<body>
		<header>
			<%- include('../../partial/header') %>

			<script type="text/javascript">
				window.onload = function() {
					document.getElementById('container-text').innerHTML = computeText(convertFromCodeToHtml(<%- '"' + datas.content + '"' %>));

					// MathJax
					MathJax.Hub.Queue(["Typeset", MathJax.Hub]);

					// highlightJs
			        hljs.initHighlighting.called = false;
			        hljs.initHighlighting();
				};
			</script>
		</header>

		<main>
			<!-- Bandeau de présentation -->
			<div class="section section-2" style="margin-top: -5px;">
				<div class="m-title">
					<p class="m-t-title"><%= datas.title %></p>
					<hr class="m-t-hr" />
					<p class="m-t-subtitle"><%= datas.description %></p>
				</div>

				<div class="m-content">
					<div class="container m-c-header">
						<div class="m-c-row">
						</div>

						<div class="m-c-row">
							<div class="m-c-col">
								<% if(datas.image_exists) { %>
									<% if(datas.image_credits != 'null') { %>
										<figure class="figure">
									<% } %>
											<a><img class="m-b-image m-c-logo" src=<%= 'https://firebasestorage.googleapis.com/v0/b/mecanicascience.appspot.com/o/blog%2F' + datas.uuid + '_' + datas.image_name + '?alt=media' %>  /></a>
									<% if(datas.image_credits != 'null') { %>
											<figcaption class="figure-caption text-right" id="figcaption"></figcaption>
										</figure>

										<script>
											document.getElementById('figcaption').innerHTML = computeText('&copy; <%= datas.image_credits %>');
										</script>
									<% } %>
								<% } %>
							</div>

                            <div class="m-c-col">
								<p class="m-b-desc">Publié le <%= datas.formatted_dates.replace(/\/.*\//, '/' + ((parseInt(datas.formatted_dates.split('/')[1]) + 1) > 9 ? (parseInt(datas.formatted_dates.split('/')[1]) + 1) + "" : "0" + (parseInt(datas.formatted_dates.split('/')[1]) + 1)) + '/') %></p>
                                <p class="m-b-cat" style="flex-direction: column;">- Catégorie <%= datas.formatted_category %> -</p>
							</div>
						</div>

						<div class="m-c-row">
						</div>
					</div>

				</div>
			</div>

			<div style="margin-top: 60px">
				<div class="container" style="text-align: justify;">
					<div id="container-text">
                    	Chargement en cours...
					</div>

                    <p style="margin-bottom: 70px;"></p>
				</div>
			</div>


			<!-- Container category breakimage -->
            <div class="section section-2">
                <p class="s-c-title">Sur le même thème</p>

                <hr />

				<div class="container category">
					<% if(articles.length == 0) { %>
						<p style="text-align: center; flex-grow: 1;">Pas d'article correspondant à la catégorie <b><%= datas.formatted_category %></b>.</p>
					<% } %>

					<%- articles.length > 0 ? articles.shift() : '' %>
					<%- articles.length > 0 ? articles.shift() : '' %>
					<%- articles.length > 0 ? articles.shift() : '' %>
				</div>
            </div>



			<!-- <div class="section section-1">
                <p class="s-c-title">Commentaires</p>

                <hr />

				<div class="container category">
					Provisoire
				</div>
            </div> -->



		<%- include('../../partial/footer') %>
	</body>
</html>
