<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../partial/head') %>
    </head>

    <body>
        <header>
            <%- include('../partial/header') %>
        </header>

        <main>
            <!-- Bandeau de présentation -->
            <div class="section section-2" style="margin-top: -5px;">
                <div class="m-title">
                    <p class="m-t-title">Mecanica Science</p>
                    <hr class="m-t-hr" />
                    <p class="m-t-subtitle">Blog officiel de la chaîne YouTube MecanicaScience et de Maxime Dherbécourt</p>
                </div>

                <div class="m-content">
                    <div class="container m-c-header">
                        <div class="m-c-row" id="m-c-row-cat">
                            <div class="m-c-col">
                                <i class="m-c-icon fas fa-flask fa-3x fa-darker"></i>
                            </div>

                            <div class="m-c-col">
                                <p style="margin-top: 6px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De la physique&nbsp;&nbsp;&nbsp;</p>
                            </div>
                        </div>

                        <div class="m-c-row">
                            <div class="m-c-col">
                                <a href="/"><img class="m-c-image m-c-logo" src="/imgs/illustration/main_logo.png" /></a>
                            </div>

                            <div class="m-c-col m-c-cate">
                                <p style="margin-top: 5px; line-height: 25px; font-size: 16px;">
                                    <% for(let i = 0; i < query_message.length; i++) { %>
                                        <%= query_message[i] %><br />
                                    <% } %>
                                </p>
                            </div>
                        </div>

                        <div class="m-c-row" id="m-c-row-cat">
                            <div class="m-c-col">
                                <i class="m-c-icon fas fa-calculator fa-3x fa-darker"></i>
                            </div>

                            <div class="m-c-col">
                                <p>Des mathématiques<br />et de l'informatique</p>
                            </div>
                        </div>
                    </div>

                    <div class="m-c-button-yt">
                        <button class="mdc-button mdc-button--outlined" onclick="window.open('https://www.youtube.com/c/MecanicaScience', '_blank');">Voir sur Youtube&nbsp;<i class="fab fa-youtube fa-1x"></i></button>
                    </div>
                </div>
            </div>



            <!-- Container category 1 -->
            <div class="section section-1">
                <%- articles.shift() %>
                <%- articles.shift() %>
            </div>


            <!-- Container category breakimage -->
            <div class="section section-2">
                <p class="s-c-title">Les thèmes</p>

                <hr />

                <div class="s-c-category">
                    <div class="s-c-c-item">
                        <a href="/?s=info"><i class="fas fa-desktop fa-3x fa-darker"></i></a>
                        <a href="/?s=info">Informatique</a>
                    </div>

                    <div class="s-c-c-item">
                        <a href="/?s=math"><i class="fas fa-calculator fa-3x fa-darker"></i></a>
                        <a href="/?s=math">Mathématiques</a>
                    </div>

                    <div class="s-c-c-item">
                        <a href="/?s=youtube"><i class="fab fa-youtube fa-3x fa-darker"></i></a>
                        <a href="/?s=youtube">Vidéos YouTube</a>
                    </div>

                    <div class="s-c-c-item">
                        <a href="/?s=phys"><i class="fas fa-space-shuttle fa-3x fa-darker"></i></a>
                        <a href="/?s=phys">Physique</a>
                    </div>

                    <div class="s-c-c-item">
                        <a href="/?s=other"><i class="fas fa-folder fa-3x fa-darker"></i></a>
                        <a href="/?s=other">Autre</a>
                    </div>
                </div>
            </div>


            <!-- Container category 2 -->
            <div class="section section-1">
                <% while(articles.length != 0) { %>
                    <%- articles.shift() %>
                <% } %>
            </div>
        </main>

        <%- include('../partial/footer') %>
    </body>
</html>
