<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('../../partial/head') %>
	</head>

	<body>
		<header>
			<%- include('../../partial/header') %>

			<script type="text/javascript">
				window.onload = function() {
					let code = <%- code %>;


					if(code) setTimeout(function() {
							     document.getElementById('info-toast').style.opacity = 0;
						     }, 4000);

					if(code == '1') {
						let title = <%- '"' + new_title + '"' %>;
						let uuid = <%- new_uuid ? new_uuid : '""' %>;

						if(title && uuid) {
							document.getElementById('toast-btn-1').style.opacity = 1;
							document.getElementById('toast-btn-2').style.opacity = 1;
							document.getElementById('info-toast').style = 'height : 127.5px;';

							document.getElementById('toast-text').innerHTML = 'L\'article à bien été créé.';
							document.getElementById('info-toast').style.opacity = 1;
						}
					}
					else if(code == '2' || code == '3' || code == '4' || code == '5' || code == '6' || code == '7' || code == '10' || code == '11') {
						document.getElementById('toast-btn-1').style.opacity = 0;
						document.getElementById('toast-btn-2').style.opacity = 0;
						document.getElementById('info-toast').style = 'height: 92.5px;';

						     if(code == '2' )  document.getElementById('toast-text').innerHTML = 'L\'article à bien été supprimé.';
						else if(code == '3' )  document.getElementById('toast-text').innerHTML = 'Erreur dans la suppression.';
						else if(code == '4' )  document.getElementById('toast-text').innerHTML = 'Vous êtes bien connecté.';
						else if(code == '5' )  document.getElementById('toast-text').innerHTML = 'Username / password erroné.';
						else if(code == '6' )  document.getElementById('toast-text').innerHTML = 'Vous êtes bien déconnecté.';
						else if(code == '7' )  document.getElementById('toast-text').innerHTML = 'Erreur lors de la déconnexion.';
						else if(code == '10')  document.getElementById('toast-text').innerHTML = 'Visibilité du commentaire bien changée.';
						else if(code == '11')  document.getElementById('toast-text').innerHTML = 'Erreur : changement du commentaire.';

						if(code == '5' || code == '10' || code == '11')
							document.getElementById('info-toast').style = 'height: 112.5px;';

						document.getElementById('info-toast').style.opacity = 1;
					}
				};

				function redirectEdit()   { window.location.href = '/admin/edit?title='   + <%- '"' + new_title + '"' %> + '&uuid=' + <%- '"' + new_uuid + '"' %> }
				function redirectDelete() { window.location.href = '/admin/delete?title=' + <%- '"' + new_title + '"' %> + '&uuid=' + <%- '"' + new_uuid + '"' %> }
			</script>
		</header>

		<main>
			<div class="toaster">
				<div id="info-toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
					<div class="toast-header">
						<svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
							<rect width="100%" height="100%" fill="#007aff"></rect>
						</svg>
						<strong class="mr-auto">Information</strong>
						<button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close" onclick="document.getElementById('info-toast').style.opacity = 0">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="toast-body" id="toast-text">
						Chargement...
					</div>
					<div class="btn-group" role="group" aria-label="Basic example">
						<button type="button" class="btn btn-secondary" onclick="redirectEdit()" id="toast-btn-1">Editer</button>
						<button type="button" class="btn btn-danger" onclick="redirectDelete()" id="toast-btn-2">Supprimer</button>
					</div>
				</div>
			</div>

			<div class="section section-2" style="margin-top: -5px;">
				<div class="m-title">
					<p class="m-t-title">Liste des <%= post_count %> derniers posts</p>
					<hr class="m-t-hr" />
					<p class="m-t-subtitle">Les posts sont listés par ordre décroissant dans une limite de <%= post_count %></p>
				</div>

				<div class="m-content">
					<div class="container m-c-header">
						<div class="m-c-row">
						</div>

						<div class="m-c-row">
                            <div class="m-c-col">
								<a href="/"><img class="m-c-image m-c-logo" src="/imgs/main_logo.png" /></a>
							</div>
						</div>

						<div class="m-c-row">
						</div>
					</div>

                    <div class="m-c-button-yt">
                        <div class="a-inter-b-t">
                            <p class="a-inter-b-p little-text">Entrez le nombre de résultats à afficher :</p>
                            <input id="i-val" type="text" class="a-inter-b-i mdc-button mdc-button--outlined" onkeypress="return isNumber(event)" />
                            <button class="btn btn-outline-success" onclick="window.location.href = '?l=' + document.getElementById('i-val').value;">Valider</button>
                        </div>

                        <div>
                            <button class="mdc-button mdc-button--outlined" onclick="window.location.href = '/admin/create_article';">Créer un nouveau post</button>
                        </div>
                    </div>
				</div>
			</div>

			<div class="section section-1">
                <%- articles.shift() %>
                <%- articles.shift() %>
            </div>

			<div class="section section-2">
                <p class="s-c-title">Liste des derniers commentaires</p>

                <hr />

				<div id="comments" class="container category cat-comments">
					<% if(comments.length == 0) { %>
						<div class="c-comment">
							<div class="cat-title">Pas de commentaires.</div>
						</div>
					<% } %>

					<% for(let i = 0; i < comments.length; i++) { %>
						<div class="c-comment">
							<div class="c-c-name">
								<p><%= comments[i].name %></p>
								<div class="c-c-date">(<b><%= comments[i].date %></b> - ip : "<b><%= comments[i].ip %></b>")</div>
								<button class="act-admin-b btn btn-outline-<%= comments[i].visible ? 'danger' : 'success' %>"
										onclick="window.location.href = '/admin/toggle_comment_visibility?articleID=<%= comments[i].articleID %>&commentID=<%= comments[i].commentID %>';">
									<%= !comments[i].visible ? 'Rendre visible' : 'Masquer' %>
								</button>
							</div>
							<div class="c-c-date" style="margin: -5px 0 6px 0; padding: 0;">
								Email : "<b><%= comments[i].email %></b>" - Visible pour tout le monde : "
									<span style="color: <%= comments[i].visible ? '#519f3b' : '#9f4e3b' %> !important;"><%= comments[i].visible + '' %></span>
								"
							</div>
							<div class="c-c-date" style="margin: -5px 0 6px 0; padding: 0;">
								Titre de l'article correspondant : "<b><%= comments[i].articleTitle %></b>"
							</div>
							<div class="c-c-comment"><%= comments[i].comment %></div><br />
						</div>
					<% } %>
				</div>
            </div>

			<div style="margin-top: 60px">
                <% while(articles.length != 0) { %>
                    <%- articles.shift() %>
                <% } %>
			</div>


            <script type="text/javascript">
                function isNumber(ev) {
                    let keyCode = event.keyCode;
                    return keyCode > 47 && keyCode < 58;
                }

                document.getElementById('i-val').value = null;
            </script>

		<%- include('../../partial/footer') %>
	</body>
</html>
