<!DOCTYPE html>
<html lang="fr">
	<head>
		<%- include('../../partial/head') %>
	</head>

	<body>
		<header>
			<%- include('../../partial/header') %>
		</header>

		<main>
			<!-- Bandeau de présentation -->
			<div class="section section-2" style="margin-top: -5px;">
				<div class="m-title">
					<textarea class="m-t-title"><%= datas.title %></textarea>
					<hr class="m-t-hr" />
					<textarea class="m-t-subtitle"><%= datas.description %></textarea>
				</div>

				<div class="m-content">
					<div class="container m-c-header">
						<div class="m-c-row">
						</div>

						<div class="m-c-row">
							<div class="m-c-col">
								<a><img class="m-b-image m-c-logo" src=<%= '/imgs/blog/' + datas.uuid + '_' + datas.image_name %>  /></a>
							</div>

                            <div class="m-c-col">
								<p class="m-b-desc">Le <%= datas.formatted_date %></p>
                                <p class="m-b-cat"><span style="text-align: right; margin: 0 5px;">- Catégorie</span>
									<select class="form-control" id="categorie-select">
										<option value="youtube" <%= datas.category_id == "youtube" ? 'selected=selected' : '' %>>Vidéo YouTube</option>
										<option value="math">Mathématiques</option>
										<option value="phys">Physique</option>
										<option value="info" <%= datas.category_id == "info" ? 'selected=selected' : '' %>>Informatique</option>
										<option value="other">Autre</option>
									</select>
								<span style="text-align: left; margin: 0 5px;">-</span></p>
							</div>
						</div>

						<div class="m-c-row">
						</div>
					</div>

				</div>
			</div>

			<div style="margin-top: 60px">
				<div class="container" style="text-align: justify;">
                    <textarea>
                        <%= datas.content %>
                    </textarea>

                    <p style="margin-bottom: 70px;"></p>
				</div>
			</div>

		<%- include('../../partial/footer') %>
	</body>
</html>
